 /*studio custom code. keep entirely separate from user ux*/

/* navbar color*/
.navbar.navbar-dark.align-items-start.sidebar.sidebar-dark.accordion.bg-gradient-primary.p-0 {
  background-color: #003201;
  background-image: none;
}

 /* button rewrite */

.btn-primary {
  color: #fff;
  background-color: #007645;
  border-color: #007645;
}

.btn-primary:hover {
  color: #fff;
  background-color: #005425;
  border-color: #003203;
}

.btn-primary:focus, .btn-primary.focus {
  color: #fff;
  background-color: #005425;
  border-color: #003203;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(82, 82, 82, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(82, 82, 82, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #007645;
  border-color: #007645;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #003203;
  border-color: #131313;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(82, 82, 82, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(82, 82, 82, 0.5);
}


/*dropdown*/

.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.dropdown-item:hover, .dropdown-item:focus {
  color: #fff;
  text-decoration: none;
  background-color: #007655;
}

.dropdown-item.active, .dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #007655;
}

/*dropdown recolor*/

.dropdown-header {
   background-color: #003201 !important;
   border-color: #003201 !important;
}

.text-primary {
   color: #00964B !important;
}