<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Dashboard - ExePlore</title>
    <meta name="description" content="ExePlore Admin Login">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/bootstrap.min.css') }}">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/custom.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='icon.ico') }}"/>
</head>

<body id="page-top">
<div id="wrapper">
    <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
        <div class="container-fluid d-flex flex-column p-0">
            <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0"
               href="{{ url_for('admin_index') }}">
                <div class="sidebar-brand-icon rotate-n-15"><i class="far fa-compass"></i></div>
                <div class="sidebar-brand-text mx-3"><span style="text-transform: none;">ExePlore Admin</span></div>
            </a>
            <hr class="sidebar-divider my-0">
            <ul class="nav navbar-nav text-light" id="accordionSidebar">
                <li class="nav-item" role="presentation"><a class="nav-link active" href="{{ url_for('admin_index') }}"><i
                        class="fas fa-chart-line"></i><span>Dashboard</span></a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="{{ url_for('admin_map') }}"><i
                        class="fas fa-map-marked-alt"></i><span>Map View</span></a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="{{ url_for('admin_users') }}"><i
                        class="fas fa-users"></i><span>Players</span></a></li>
            </ul>
            <div class="text-center d-none d-md-inline">
                <button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button>
            </div>
        </div>
    </nav>
    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
            <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                <div class="container-fluid">
                    <button class="btn btn-link d-md-none rounded-circle mr-3" id="sidebarToggleTop" type="button"><i
                            class="fas fa-bars"></i></button>
                    <ul class="nav navbar-nav flex-nowrap ml-auto">
                        <li class="nav-item dropdown d-sm-none no-arrow"><a class="dropdown-toggle nav-link"
                                                                            data-toggle="dropdown" aria-expanded="false"
                                                                            href="#"><i class="fas fa-search"></i></a>
                            <div class="dropdown-menu dropdown-menu-right p-3 animated--grow-in" role="menu"
                                 aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto navbar-search w-100">
                                    <div class="input-group"><input class="bg-light form-control border-0 small"
                                                                    type="text" placeholder="Search for ...">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary py-0" type="button"><i
                                                    class="fas fa-search"></i></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <div class="d-none d-sm-block topbar-divider"></div>
                        <li class="nav-item dropdown no-arrow" role="presentation">
                            <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link"
                                                                       data-toggle="dropdown" aria-expanded="false"
                                                                       href="#"><span
                                    class="d-none d-lg-inline mr-2 text-gray-600 small">Admin</span></a>
                                <div class="dropdown-menu shadow dropdown-menu-right animated--grow-in"
                                     role="menu">
{#                                    <a class="dropdown-item" role="presentation" href="#"><i#}
{#                                        class="fas fa-key fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Reset Password</a>#}
{#                                    <div class="dropdown-divider"></div>#}
                                    <a class="dropdown-item" role="presentation" href="{{ url_for('logout') }}"><i
                                            class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Logout</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="container-fluid">
                <div class="d-sm-flex justify-content-between align-items-center mb-4">
                    <h3 class="text-dark mb-0">Compsci Fresh</h3><a
                        class="btn btn-primary btn-sm d-none d-sm-inline-block" role="button" href="#" onclick="window.print()"><i
                        class="fas fa-download fa-sm text-white-50"></i>&nbsp;Generate Report</a></div>
                <div class="row">
                    <div class="col-md-6 col-xl-3 mb-4">
                        <div class="card shadow border-left-primary py-2">
                            <div class="card-body">
                                <div class="row align-items-center no-gutters">
                                    <div class="col mr-2">
                                        <div class="text-uppercase text-primary font-weight-bold text-xs mb-1"><span>Active Players</span>
                                        </div>
                                        <div class="text-dark font-weight-bold h5 mb-0">
                                            <span>{{ num_active_users }}</span></div>
                                    </div>
                                    <div class="col-auto"><i class="fas fa-user-friends fa-2x text-gray-300"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-3 mb-4">
                        <div class="card shadow border-left-success py-2">
                            <div class="card-body">
                                <div class="row align-items-center no-gutters">
                                    <div class="col mr-2">
                                        <div class="text-uppercase text-success font-weight-bold text-xs mb-1"><span>Total Players</span>
                                        </div>
                                        <div class="text-dark font-weight-bold h5 mb-0"><span>{{ num_users }}</span>
                                        </div>
                                    </div>
                                    <div class="col-auto"><i class="fas fa-users fa-2x text-gray-300"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-3 mb-4">
                        <div class="card shadow border-left-info py-2">
                            <div class="card-body">
                                <div class="row align-items-center no-gutters">
                                    <div class="col mr-2">
                                        <div class="text-uppercase text-info font-weight-bold text-xs mb-1"><span>Current progress</span>
                                        </div>
                                        <div class="row no-gutters align-items-center">
                                            <div class="col-auto">
                                                <div class="text-dark font-weight-bold h5 mb-0 mr-3">
                                                    <span>{{ overall_progress }}%</span></div>
                                            </div>
                                            <div class="col">
                                                <div class="progress progress-sm">
                                                    <div class="progress-bar bg-info" aria-valuenow="{{ overall_progress }}"
                                                         aria-valuemin="0" aria-valuemax="100" style="width: {{ overall_progress }}%;"><span
                                                            class="sr-only">{{ overall_progress }}%</span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-auto"><i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-3 mb-4">
                        <a href="{{ url_for('admin_help_requests') }}">
                            <div class="card shadow border-left-warning py-2">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col mr-2">
                                            <div class="text-uppercase text-warning font-weight-bold text-xs mb-1">
                                                <span>Help Requests</span>
                                            </div>
                                            <div class="text-dark font-weight-bold h5 mb-0">
                                                <span>{{ num_of_open_help_requests }}</span></div>
                                        </div>
                                        <div class="col-auto"><i class="fas fa-comments fa-2x text-gray-300"></i></div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-7 col-xl-8">
                        <div class="card shadow mb-4">
                            <div class="card-header d-flex justify-content-between align-items-center">
                                <h6 class="text-primary font-weight-bold m-0">Average Player Progress</h6>
                            </div>
                            <div class="card-body">
                                <div class="chart-area">
                                    <canvas id="lineChart" style="width:100%;height:100%"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-5 col-xl-4">
                        <div class="card shadow mb-4">
                            <div class="card-header d-flex justify-content-between align-items-center">
                                <h6 class="text-primary font-weight-bold m-0">Player Card Distribution</h6>
                            </div>
                            <div class="card-body">
                                <div class="chart-area">
                                    <canvas id="cardDistribution"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 mb-4">
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="text-primary font-weight-bold m-0">Top Cards by Playerbase Ownership</h6>
                            </div>

                            <div class="card-body">
                                <h4 class="small font-weight-bold">{{ top_locations_by_playerbase_ownership[0][0] }}<span class="float-right">{{ top_locations_by_playerbase_ownership[0][1] }}%</span>
                                </h4>
                                <div class="progress mb-4">
                                    <div class="progress-bar bg-danger" aria-valuenow="{{ top_locations_by_playerbase_ownership[0][1] }}" aria-valuemin="0"
                                         aria-valuemax="100" style="width: {{ top_locations_by_playerbase_ownership[0][1] }}%;"><span class="sr-only">{{ top_locations_by_playerbase_ownership[0][1] }}%</span></div>
                                </div>
                                <h4 class="small font-weight-bold">{{ top_locations_by_playerbase_ownership[1][0] }}<span
                                        class="float-right">{{ top_locations_by_playerbase_ownership[1][1] }}%</span></h4>
                                <div class="progress mb-4">
                                    <div class="progress-bar bg-warning" aria-valuenow="{{ top_locations_by_playerbase_ownership[1][1] }}" aria-valuemin="0"
                                         aria-valuemax="100" style="width: {{ top_locations_by_playerbase_ownership[1][1] }}%;"><span class="sr-only">{{ top_locations_by_playerbase_ownership[1][1] }}%</span></div>
                                </div>
                                <h4 class="small font-weight-bold">{{ top_locations_by_playerbase_ownership[2][0] }}<span
                                        class="float-right">{{ top_locations_by_playerbase_ownership[2][1] }}%</span></h4>
                                <div class="progress mb-4">
                                    <div class="progress-bar bg-primary" aria-valuenow="{{ top_locations_by_playerbase_ownership[2][1] }}" aria-valuemin="0"
                                         aria-valuemax="100" style="width: {{ top_locations_by_playerbase_ownership[2][1] }}%;"><span class="sr-only">{{ top_locations_by_playerbase_ownership[2][1] }}%</span></div>
                                </div>
                                <h4 class="small font-weight-bold">{{ top_locations_by_playerbase_ownership[3][0] }}<span
                                        class="float-right">{{ top_locations_by_playerbase_ownership[3][1] }}%</span></h4>
                                <div class="progress mb-4">
                                    <div class="progress-bar bg-info" aria-valuenow="{{ top_locations_by_playerbase_ownership[3][1] }}" aria-valuemin="0"
                                         aria-valuemax="100" style="width: {{ top_locations_by_playerbase_ownership[3][1] }}%;"><span class="sr-only">{{ top_locations_by_playerbase_ownership[3][1] }}%</span></div>
                                </div>
                                <h4 class="small font-weight-bold">{{ top_locations_by_playerbase_ownership[4][0] }}<span class="float-right">{{ top_locations_by_playerbase_ownership[4][1] }}%</span>
                                </h4>
                                <div class="progress mb-4">
                                    <div class="progress-bar bg-success" aria-valuenow="{{ top_locations_by_playerbase_ownership[4][1] }}" aria-valuemin="0"
                                         aria-valuemax="100" style="width: {{ top_locations_by_playerbase_ownership[4][1] }}%;"><span class="sr-only">{{ top_locations_by_playerbase_ownership[4][1] }}%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {#                            <div class="card shadow mb-4" style="/*display: none;*/">#}
                        {#                                <div class="card-header py-3">#}
                        {#                                    <h6 class="text-primary font-weight-bold m-0">Game Selection</h6>#}
                        {#                                </div>#}
                        {#                                <ul class="list-group list-group-flush">#}
                        {#                                    <li class="list-group-item">#}
                        {#                                        <div class="row align-items-center no-gutters">#}
                        {#                                            <div class="col mr-2">#}
                        {#                                                <h6 class="mb-0"><strong>Compsci Fresh</strong></h6><span class="text-xs">19/02/2020 - Ongoing</span></div>#}
                        {#                                            <div class="col-auto text-center"><span>Complete</span>#}
                        {#                                                <div class="custom-control custom-checkbox"><input class="custom-control-input" type="checkbox" id="formCheck-1"><label class="custom-control-label"></label></div>#}
                        {#                                            </div>#}
                        {#                                        </div>#}
                        {#                                    </li>#}
                        {#                                    <li class="list-group-item">#}
                        {#                                        <div class="row align-items-center no-gutters">#}
                        {#                                            <div class="col mr-2">#}
                        {#                                                <h6 class="mb-0"><strong>Society Treasure Hunt</strong></h6><span class="text-xs">15/02/2020 - Ongoing</span></div>#}
                        {#                                            <div class="col-auto text-center"><span>Complete</span>#}
                        {#                                                <div class="custom-control custom-checkbox"><input class="custom-control-input" type="checkbox" id="formCheck-2"><label class="custom-control-label"></label></div>#}
                        {#                                            </div>#}
                        {#                                        </div>#}
                        {#                                    </li>#}
                        {#                                    <li class="list-group-item">#}
                        {#                                        <div class="row align-items-center no-gutters">#}
                        {#                                            <div class="col mr-2">#}
                        {#                                                <h6 class="mb-0"><strong>Fresher Lunch Intro</strong></h6><span class="text-xs">12/02/2020 - 14/02/2020</span></div>#}
                        {#                                            <div class="col-auto text-center"><span>Complete</span>#}
                        {#                                                <div class="custom-control disabled custom-checkbox"><input class="custom-control-input" type="checkbox" id="formCheck-3" checked=""><label class="custom-control-label"></label></div>#}
                        {#                                            </div>#}
                        {#                                        </div>#}
                        {#                                    </li>#}
                        {#                                </ul>#}
                        {#                            </div>#}
                        {#                        </div>#}
                        <div class="col">
                            <div class="row">
                                <div class="col-lg-6 mb-4" >
                                    <div class="card text-white bg-success shadow">
                                        <a href="{{ url_for('admin_function', function='reset_location_data') }}">
                                            <div class="card-body">
                                                <p class="m-0">Reset location data</p>
                                                <p class="text-white-50 small m-0">Remove all location data from db</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-6 mb-4">
                                    <div class="card text-white bg-success shadow">
                                        <a href="{{ url_for('admin_function', function='reset_help_requests') }}">
                                            <div class="card-body">
                                                <p class="m-0">Reset help requests db</p>
                                                <p class="text-white-50 small m-0">Reset</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-6 mb-4">
                                    <div class="card text-white bg-info shadow">
                                        <a href="{% if is_paused %}{{ url_for('admin_function', function='run_game') }}{% else %}{{ url_for('admin_function', function='stop_game') }}{% endif %}">
                                            <div class="card-body">
                                                <p class="m-0">{% if is_paused %} Un-pause game {% else %} Pause game {% endif %}</p>
                                                <p class="text-white-50 small m-0">Pause or un-pause game</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
{#                                <div class="col-lg-6 mb-4">#}
{#                                    <div class="card text-white bg-warning shadow">#}
{#                                        <div class="card-body">#}
{#                                            <p class="m-0">Pause Game</p>#}
{#                                            <p class="text-white-50 small m-0">Log Everyone Out</p>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="col-lg-6 mb-4">#}
{#                                    <div class="card text-white bg-danger shadow">#}
{#                                        <div class="card-body">#}
{#                                            <p class="m-0">End Game</p>#}
{#                                            <p class="text-white-50 small m-0">Finalise Leaderboards</p>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="col-lg-6 mb-4">#}
{#                                    <div class="card text-white bg-secondary shadow">#}
{#                                        <div class="card-body">#}
{#                                            <p class="m-0">Shutdown</p>#}
{#                                            <p class="text-white-50 small m-0">Delete All Users</p>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © ExePlore 2019</span></div>
                </div>
            </footer>
        </div>
        <a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="{{ url_for('static', filename = 'scripts/bs-init.js') }}"></script>
    <script src="{{ url_for('static', filename = 'scripts/theme.js') }}"></script>

    <script>
        // Load Line Chart
        var line = document.getElementById("lineChart").getContext('2d');
        var lineLabels = []


        var lineChart = new Chart(line, {
            type: 'line',
            data: {
                labels: [
                    {% for item in overall_progress_over_time %}
                    " ",
                    {% endfor %}
                ],
                datasets: [{
                    label: "Progress Dataset",
                    data: [
                        {% for item in overall_progress_over_time %}
                        {{ item[0] }},
                        {% endfor %}
                    ],
                    backgroundColor: [
                    'rgba(0, 200, 100, .2)',
                    ],
                    borderColor: [
                    'rgba(0, 200, 100, .7)',
                    ]
                }
                ]
            },
            options: {
                responsive: true,
                legend: {
            display: false
        }
            }
        });


        // Load Pie Chart

        var pie = document.getElementById("cardDistribution").getContext('2d');
        
        var pieData = [
        {% for count in won_card_distribution %}
        {{ count['COUNT(*)'] }},
        {% endfor %}
        ];
        var pieLabels = [
        {% for label in won_card_distribution %}
        "{{ label['cardLocation'] }}",
        {% endfor %}
        ]

        var pieChart = new Chart(pie, {
            type: 'doughnut',
              data: {
               labels: pieLabels,
               datasets: [{
                data: pieData,
                backgroundColor: ["#F7464A", "#46BFBD", "#FDB45C", "#949FB1", "#4D5360", "#F7464A", "#46BFBD", "#FDB45C", "#949FB1", "#4D5360", "#F7464A", "#46BFBD", "#FDB45C", "#949FB1", "#4D5360", "#F7464A", "#46BFBD", "#FDB45C", "#949FB1", "#4D5360", "#F7464A", "#46BFBD", "#FDB45C", "#949FB1", "#4D5360", "#F7464A", "#46BFBD", "#FDB45C", "#949FB1", "#4D5360", "#F7464A", "#46BFBD", "#FDB45C", "#949FB1", "#4D5360", "#F7464A", "#46BFBD", "#FDB45C", "#949FB1", "#4D5360"],
                hoverBackgroundColor: ["#FF5A5E", "#5AD3D1", "#FFC870", "#A8B3C5", "#616774", "#FF5A5E", "#5AD3D1", "#FFC870", "#A8B3C5", "#616774", "#FF5A5E", "#5AD3D1", "#FFC870", "#A8B3C5", "#616774", "#FF5A5E", "#5AD3D1", "#FFC870", "#A8B3C5", "#616774", "#FF5A5E", "#5AD3D1", "#FFC870", "#A8B3C5", "#616774", "#FF5A5E", "#5AD3D1", "#FFC870", "#A8B3C5", "#616774", "#FF5A5E", "#5AD3D1", "#FFC870", "#A8B3C5", "#616774", "#FF5A5E", "#5AD3D1", "#FFC870", "#A8B3C5", "#616774"]
            }]
        },
        options: {
           responsive: true,
           legend: {
            display: false
        }
       }
    });
    </script>

</body>

</html>