{% block content %}
    <div class="card-container" style="padding:10%;padding-top:2%">

        {% for card in cards %}
            <button class="card" style="margin-bottom: 10px" onclick="$('#content').load('/card/' + encodeURI('{{ card['location'] }}'));">

                {% if card['location'] in won_cards %}
                    <h2 style="color: green"><img class="thumbnail" width="100" height="100" src="{{ card['image'] }}" alt="{{ card['location'] }} image"/> {{ card['location'] }}</h2>
                {% else %}
                    <h2 style="color: red"><img class="thumbnail" width="100" height="100" src="{{ card['image'] }}" alt="{{ card['location'] }} image" style="filter: grayscale(100%);"/> {{ card['location'] }}</h2>
                {% endif %}
            </button>
        {% endfor %}

    </div>
{% endblock %}
