{% extends "bootstrap/base.html" %}

<!-- {% block html_attribs %} lang="en"{% endblock %} -->
{% block title %}{{ APP_NAME }} - GDPR policy{% endblock %}

{% block styles %}
    <link rel="stylesheet" type='text/css'
          href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/bootstrap.css') }}">
{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="./">{{ APP_NAME }}</a>
        <button class="float-right btn btn-success my-2 my-lg-0" onclick="location.href='/';"
                style="margin-left: auto;width:100px;">Close
        </button>
    </nav>
{% endblock %}


{% block content %}
    <div class="container" style="padding:50px;padding-bottom:150px">
        <br/><br/>

        <h2>Privacy Policy</h2>
        <p>
            This page informs you of our policies regarding the collection, use and disclosure of Personal Information
            we
            receive from users of the Site.

            We use your Personal Information only for providing and improving the Site. By using the Site, you agree to
            the
            collection and use of information in accordance with this policy.
        </p>

        <h2>Information Collection And Use</h2>
        <p>
            While using our Site, we may ask you to provide us with certain personally identifiable information that can
            be
            used to contact or identify you. Personally, identifiable information may include, but is not limited to
            your
            name ("Personal Information"). We may also collect information relating to your location.
        </p>

        <h2>Log Data</h2>
        <p>
            Like many site operators, we collect information that your browser sends whenever you visit our Site ("Log
            Data").

            This Log Data may include information such as your computer's Internet Protocol ("IP") address, browser
            type,
            browser version, the pages of our Site that you visit, the time and date of your visit, the time spent on
            those
            pages and other statistics.
        </p>

        <h2>Cookies</h2>
        <p>
            Cookies are files with small amount of data, which may include an anonymous unique identifier. Cookies are
            sent
            to your browser from a web site and stored on your computer's hard drive.

            Like many sites, we use "cookies" to collect information. You can instruct your browser to refuse all
            cookies or
            to indicate when a cookie is being sent. However, if you do not accept cookies, you may not be able to use
            some
            portions of our Site.
        </p>

        <h2>Security</h2>
        <p>
            The security of your Personal Information is important to us but remember that no method of transmission
            over
            the Internet, or method of electronic storage, is 100% secure. While we strive to use commercially
            acceptable
            means to protect your Personal Information, we cannot guarantee its absolute security.
        </p>

    </div>

    <footer class="footer">
        <div class="container text-center">
            <span class="text-muted">{{ APP_NAME }} - {{ VERSION }}</span>
        </div>
    </footer>
{% endblock %}
