{% extends "bootstrap/base.html" %}

{% block title %}{{ APP_NAME }}{% endblock %}

{% block styles %}
    <link rel="stylesheet" type='text/css'
          href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/bootstrap.css') }}">
    <script src="https://api.mapbox.com/mapbox-gl-js/v1.8.0/mapbox-gl.js"></script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v1.8.0/mapbox-gl.css" rel="stylesheet"/>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='scripts/fitty.min.js') }}"></script>
{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}
{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
        <div class="navbar-brand"><i class="fa fa-compass" style="color:white;"></i>
            <a class="navbar-brand" href="/">ExePlore</a>
        </div>
        <!-- Navbar Mobile View Expander -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
                aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation" style="width:60px;">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar Items -->
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#" onclick="alert('FAQ and Help not yet implemented.');">Get Help</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('gdpr_policy') }}">GDPR and Privacy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"
                       onclick="alert('Team: \n- Anthony Bennett \n- Ricky Bassom\n- Adam Fitzgerald\n- Leon Cresdee\n- Louis Beresford\n- Tom Gates.\nStack:\n- Python Flask\n- Jaws MariaDB\n- Heroku\n- Docker\nInfo:\n- Produced for the University of Exeter Year 2 Group Software Engineering Project as Group M.');">About</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <button class="float-right btn btn-success my-2 my-lg-0" onclick="location.href='{{ url_for('logout') }}';"
                            style="margin-left: auto;width:150px;">{{ username }} - Logout
                    </button>
                    <button class="float-right btn btn-warning my-2 my-lg-0" onclick="location.href='{{ url_for('reset') }}';"
                            style="margin-left: auto;width: 120px; margin-right: 20px;">Reset my cards
                    </button>
                    <button class="float-right btn btn-success my-2 my-lg-0" onclick="location.href='{{ url_for('my_help_requests') }}'"
                            style="margin-left: auto;width: 150px; margin-right: 20px;">My help requests
                    </button>
                </li>
            </ul>
        </div>
    </nav>
{% endblock %}


{% block content %}
    <div id="content" style="margin-bottom: 80px;">
        <div id='map'></div>
    </div>

    <footer class="footer">
        <div class="container-nav">
            <button id="footerCards" class="btn btn-success footer-btn" style="width:30%">Cards
            </button>

            <button id="footerMap" class="btn btn-success footer-btn selected-footer" style="width:35%;padding:10px;">Map
            </button>

            <button id="footerScore" class="btn btn-success footer-btn" style="width:30%">Scores
            </button>
        </div>
    </footer>

    <script src="{{ url_for('static', filename = 'scripts/exemap.js') }}"></script>

    <script src="{{ url_for('static', filename = 'scripts/footer.js') }}"></script>

{% endblock %}