{% extends "bootstrap/base.html" %}

<!-- {% block html_attribs %} lang="en"{% endblock %} -->
{% block title %}{{ APP_NAME }}{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/bootstrap.css') }}">
    <link rel="stylesheet" type='text/css' href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}
    {% block navbar %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="navbar-brand"><i class="fa fa-compass" style="color:white;"></i>
        <a class="navbar-brand" href="./">ExePlore</a>
        </div>
        <!-- Navbar Mobile View Expander -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation" style="width:60px;">
                  <span class="navbar-toggler-icon"></span>
                </button>

        <!-- Navbar Items -->
        <div class="collapse navbar-collapse" id="navbarColor01">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                      <a class="nav-link" href="#">Get Help</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">GDPR and Data Privacy</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">About</a>
                    </li>
                  </ul>
        </div>
        <button class="float-right btn btn-success my-2 my-lg-0" onclick="location.href='/logout';" style="margin-left: auto;width:100px;">Logout</button>
    </nav>
{% endblock %}


{% block content %}
    <div class="container">
        <h1>Exeplore</h1>
        <a href="/map">Go to map</a>
        <br/>
        <a href="/cards">Go to cards</a>
    </div>

    <footer class="footer">
        <div class="container text-center">
            <span class="text-muted">{{ APP_NAME }} - {{ VERSION }}</span>
        </div>
    </footer>
{% endblock %}
